<div class="index-container">
    <div class="card" style="width: 18rem;">
        <h5 class="card-title"></h5>
        <a href="/beers" class="btn btn-primary">Check the Beers</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <a href="/randomBeers" class="btn btn-primary">Check a Random Beers</a>
    </div>
</div>
</div>